# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules
.npm
.yarn-integrity

# Dependencies
/.pnp
.pnp.js

# Build Output
dist
dist-ssr
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Testing
coverage
