.swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: -25px;
    background-color: inherit;
    z-index: 10;
  }
  
  
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--swiper-bullet);
    border-radius: 100%;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    border-radius: 100px;
    width: 20px;
    background-color: var(--swiper-bullet-active);
  }
  
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -25px;
}


