.chevron {
  width: 1.25rem;
  height: 1.25rem;
  transition-property: transform;
  transition-duration: 200ms;
  mask-image: url(/icons/arrowUp.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #7F7F7F;
}

.chevronExpanded {
  transform: rotate(180deg);
}

.content {
  overflow: hidden;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  max-height: 0;
  opacity: 0;
}

.contentExpanded {
  max-height: 800px;
  opacity: 1;
}

.contentExpandedSmall {
  max-height: 500px;
  opacity: 1;
}
