.layout {
  position: relative;
}

.sideNav {
  position: absolute;
  left: 100%;
  transition: transform 0.3s;
  transform: translateX(0);
}

.isNavOpened .sideNav {
  transform: translateX(-100% );
  height: 100vh;
  transition: transform 0.3s;
}

.isNavOpened.layout::before {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.sideChat {
  transition: width 0.3s ease;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  flex-shrink: 0;
  height: 100svh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10000;
}

.isChatOpened .sideChat {
  transform: translateX(0);
  width: 600px;
  height: calc(100svh + 10px);
  transition: all 0.3s ease;
}

.layout::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
}

.pageWrapper {
  z-index: 1;
}

@media (min-width: 767px) {
  .sideChat {
    right: 0;
  }
}

@media (max-width: 1279px) {
  .isChatOpened.layout::before {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

@media (min-width: 1279px) {
  .sideNav {
    transition: width 0.3s ease;
    width: 80px;
    position: static;
    flex-shrink: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .isNavOpened .sideNav {
    transform: translateX(0);
    width: 250px;
    height: 100vh;
    transition: all 0.3s ease;
  }

  .layout {
    display: flex;
    align-items: flex-start;
    overflow-y: hidden;
  }

  .isNavOpened.layout::before {
    display: none;
  }
  .sideChat {
    right: calc(100% - 99vw - 6px);
  }

  .isChatOpened .sideChat {
    width: 350px;
    box-shadow: -15px 0 10px rgba(0, 0, 0, 1);
  }
}

@media (min-width: 1456px) {
  .sideChat {
    right: calc((100vw - 1440px) / 2);
  }
}


