.bg-gradient {
  background: 
    url('/images/sports/promotions/ReferCard1/bg.png'),
    linear-gradient(4.6deg, #052b58 24.36%, #126dd7 94.03%);
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: overlay;
}
