.bg-gradient {
  background: 
    url('/images/sports/promotions/BetBuilderCard/bg.png'),
    linear-gradient(135deg, rgba(63, 128, 60, 0.5) 0%, rgba(1, 21, 4, 0.7) 100%);
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: multiply;
}

.lightning-gradient {
  background: linear-gradient(
    13.39deg,
    #dbffc5 32.68%,
    #acfe7a 52.45%,
    #65d321 67.1%,
    #5ec81d 82.34%
  );
  backdrop-filter: blur(70px)
}
