
.dropdown-scroll {
  scrollbar-width: thin;             
  scrollbar-color: transparent transparent;
}


.dropdown-scroll::-webkit-scrollbar {
  width: 3px;                         
}

.dropdown-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
}

/* .dropdown-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
} */
