.itemPurple {
  left: calc(50% - 63px);
}

.itemYellow {
  left: calc(50% + 63px);
}

.imageBox:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--gradient-game-card);
}
