.swiper-pagination {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: absolute;
    transform: translateX(-20px);
    background-color: inherit;
  }
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #7f7f7f;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  border-radius: 100px;
  width: 20px;
  background-color: #44e929;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -25px;
}