.swiper-pagination-container {
  position: absolute;
  bottom: -50px;
  display: flex;
  justify-content: center;
  min-height: 10px;
  background-color: blue;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 6px;
  background-color: blue;
}

.swiper-pagination-bullet {
  min-width: 24px;
  min-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 995;

  cursor: pointer;
}

.swiper-pagination-active {
  border-radius: 100%;
  background-color: red;
}
