.button {
    width: 100%;
    @media ( min-width: 1025px) {
        width: 40px;
        transition: width 0.3s;
    }
}

.open {
    width: 100%;
}

.label {
    opacity: 0;
    transition: opacity 0.3s;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
}

.labelOpen {
    opacity: 1;
}