::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

div[class*='epr-header'] {
  display: flex;
  flex-direction: column-reverse;
  gap: 17px;
  margin-bottom: 17px;
}

textarea:focus {
  outline: none;
  box-shadow:
    rgb(255, 255, 255) 0px 0px 0px 0px,
    rgb(199, 255, 16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

div:has(> div[class*='epr-search-container']) {
  padding: 0px;
}

div[class*='epr-search-container'] > input::placeholder {
  font-size: 12px;
  color: #7f7f7f;
  font-weight: 400;
  font-family: corsa-grotesk, sans-serif;
}

div[class*='epr-search-container'] > input {
  font-size: 12px;
  color: #e2e2e4;
  font-weight: 400;
  font-family: corsa-grotesk, sans-serif;
  padding: 0px 12px;
}

div[class*='epr-search-container'] > input:focus {
  border: 1px solid #c1ff11;
}

div[class*='epr-icn-search'] {
  display: none;
}

div[class*='epr-category-nav'] {
  padding: 8px;
  border: 1px solid #343843;
  border-radius: 8px;
}

aside[class*='epr-main']
  > div:not([class*='epr-header']):not([class*='epr-body']) {
  display: none;
}

h2[class*='epr-emoji-category-label'] {
  font-size: 11px;
  font-weight: 600;
  font-family: corsa-grotesk, sans-serif;
  text-transform: uppercase;
  padding: 0px;
}

div[class*='epr-emoji-category-content'] {
  margin: 0px;
}

button[class*='epr-btn']:hover {
  background-color: #2c2c2c;
}

button[class*='epr-btn']:not(:hover) {
  background-color: #141414;
}
